body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.25em 0;
  padding: 0 0 0.25em 0;
  font-family: 'Libre Baskerville', serif;
}

p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 1.125em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 40px;
}

h1 {
  line-height: 1.43;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

.site-main a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.site-main h2 {
  line-height: 1.2;
}

.site-main li {
  padding: 0.25em 0;
  font-size: 1.125em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25em;
  }
}
