.button {
  padding: 10px 20px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  min-width: 200px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

.button-wrapper {
  .button {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.button--primary {
  background-color: $blue;
  color: $white;
}

.button--accent {
  background-color: $yellow;
  color: $white;
}

.scroll-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  line-height: 1;
  img {
    height: 20px;
    width: 20px;
  }
}

blockquote {
  border-left: 15px solid #eee;
  margin: 20px 0;
  padding-left: 40px;
}

.page-header {
  padding: 60px 0;
}

.post-items {
  .post {
    padding-bottom: 4em;
  }
}

.page-links,
.post-items .post {
  margin: 1.5em 0 0;
}

.search-form {
  margin-top: 1.5em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  input {
    min-width: 300px;
    padding: 10px 20px;
    margin: 0 10px 0 0;
  }
}

