.site__header {
	padding: 10px 0;
	background-color: rgba( 255, 255, 255, .8);
	position: absolute;
	width: 100%;
	z-index: 2;
	.flex-wrapper {
		align-items: center;
		-webkit-align-items: center;
	}
}

.header__logo {
	width: 300px;
	img {
		width: 100%;
	}
}

.page-banner {
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	-webkit-align-items: flex-end;
	padding: 0 5%;
	color: #fff;
}

.page-banner:not(.page-banner--no-image) {
	height: 250px;
	max-height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 680px) {
	.page-banner:not(.page-banner--no-image) {
		height: 500px;
		max-height: 50vh;
	}
}

@media (min-width: 980px) {
	.page-banner:not(.page-banner--no-image) {
		height: 600px;
		max-height: 70vh;
	}
}