/************************
#Lightbox
************************/

#overlay{
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 999;
}

#overlay:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#overlay .lightbox {
  display: inline-block;
  max-width: 80%;
  padding: 10px;
  background-color: #fff;
  margin: 0 auto;
  vertical-align: middle;
  max-height: 95%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  a {
    font-size: 2em;
    line-height: 20px;
  }
}

.close {
  float: left;
  margin-right: -20px;
  z-index: 9999;
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: rgba(50, 50, 50, .5);
}

.lightbox-image {
  width: 100%;
  display: block;
}

.resize-lightbox {
  max-height: 90vh;
  width: auto;
  margin: 0 auto;
}

@media (max-width: 860px) {
  #overlay .lightbox {
    width: 100%;
    max-width: 95%;
  }
}